<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Random Image</mat-card-title>
    <mat-card-subtitle>Random Picture</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://picsum.photos/100/100/?random"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis porttitor arcu a consequat. Donec quis velit mi. Phasellus scelerisque luctus orci a accumsan. In varius volutpat elit. Aenean finibus euismod tortor a posuere. In euismod quis justo sit amet dictum. Etiam auctor velit quam, et dictum sapien luctus volutpat. Suspendisse gravida orci et dapibus porttitor. Sed et neque nec lorem varius viverra.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button> <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
